{% extends "layout.html" %}

{% block title %}Super Sprinter 3000{% endblock%}

{% block content %}
{#navbar#}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#about">About</a>
              </li>
            </ul>
          </div>
             <a class="navbar-brand">Presented by Dynuchu</a>
        </div>
    </nav>
{#</nav>#}


{#  jumbotron  #}
    <div class="jumbotron jumbotron-fluid bg-info text-white">
      <div class="container text-center pt-3">
        <h1 class="display-2">User Story Manager</h1>
        <p class="lead">A Smart User Story Manager for your Agile Team</p>
      </div>
    </div>
{#  /jumbotron #}

<div class="container">
<h1 id="home" class="display-4 mt-5">Product Backlog</h1>

<form method="post" action="{{ url_for('list_page') }}">
<p>
    <button type="submit" class="btn btn-primary" name="add_new_user_story" formaction="{{ url_for('show_adding_page', status_list=status_list) }}" formmethod="get">Add new User Story</button>
</p>
<table border="1">

    <tr>
        <td>ID</td>
        <td>Story Title</td>
        <td>User Story</td>
        <td>Acceptance Criteria</td>
        <td>Business Value</td>
        <td>Estimation</td>
        <td>Status</td>
        <td>Modify</td>
        <td>Delete</td>

    </tr>
    {% for story in user_stories %}
    <tr>
        <td>{{ story.id }}</td>
        <td>{{ story.story_title }}</td>
        <td>{{ story.user_story }}</td>
        <td>{{ story.acceptance_criteria }}</td>
        <td>{{ story.business_value }}</td>
        <td>{{ story.estimation }}</td>
        <td>{{ story.status }}</td>
        <td><a class="material-icons" href="{{ url_for('show_editor_page', story_id=story.id, status_list=status_list) }}">mode_edit</a></td>
        <td><a class="material-icons" href="{{ url_for('delete', story_id=story.id) }}">delete</a></td>
    </tr>
    {% else %}
    <tr> Unbelievable.  No user stories here so far</tr>
    {% endfor %}

</table>
</form>

</div>

        <!-- FORM MODAL-->
        <div id="about" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>This app is made by Dynuchu</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--/FORM MODAL-->
{% endblock %}