{% extends "layout.html" %}

{% block title %}Super Sprinter 3000{% endblock%}

{% block content %}
<h1>User Story Manager</h1>

<form method="post" action="{{ url_for('list_page') }}">
<p>
    <button type="submit" name="add_new_user_story" formaction="{{ url_for('show_adding_page') }}" formmethod="get">Add new User Story</button>
</p>
<table border="1">

    <tr>
        <td>ID</td>
        <td>Story Title</td>
        <td>User Story</td>
        <td>Acceptance Criteria</td>
        <td>Business Value</td>
        <td>Estimation</td>
        <td>Status</td>
        <td>Modify</td>
        <td>Delete</td>

    </tr>
    {% for story in user_stories %}
    <tr>
        <td>{{ story.id }}</td>
        <td>{{ story.story_title }}</td>
        <td>{{ story.user_story }}</td>
        <td>{{ story.acceptance_criteria }}</td>
        <td>{{ story.business_value }}</td>
        <td>{{ story.estimation }}</td>
        <td>{{ story.status }}</td>
        <td><a class="material-icons" href="{{ url_for('show_editor_page', story_id=story.id) }}">mode_edit</a></td>
        <td><a class="material-icons" href="{{ url_for('delete', story_id=story.id) }}">delete</a></td>
    </tr>
    {% else %}
    <tr> Unbelievable.  No user stories here so far</tr>
    {% endfor %}

</table>

</form>

{% endblock %}